<!DOCTYPE html>
<html >
<head>
	<!-- Site made with Mobirise Website Builder v4.7.2, https://mobirise.com -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<link rel="shortcut icon" href="assets/images/favcon.png" type="image/x-icon">
	<meta name="description" content="">
	<title>Home</title>
	<link rel="stylesheet" href="assets/web/assets/botexa-icons/botexa-icons.css">
	<link rel="stylesheet" href="assets/tether/tether.min.css">
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="assets/dropdown/css/style.css">
	<link rel="stylesheet" href="assets/socicon/css/styles.css">
	<link rel="stylesheet" href="assets/theme/css/style.css">
	<link rel="stylesheet" href="assets/gallery/style.css">
	<link rel="stylesheet" href="assets/botexa-icons.css">
	<link rel="stylesheet" href="assets/botexa-theme/css/mbr-additional.css" type="text/css">
	<link rel="stylesheet" href="assets/botexa-theme/css/custome.css" type="text/css">
	<link rel="stylesheet" href="assets/botexa-theme/css/mobile.css" type="text/css">
</head>
<body>
	<div class="middle-container background">
		<div class="container-common">
			<div class="row align-items-center justify-content-center min-ht-window">
				<div class="col-md-12">
					<div class="middle-block max-WT-500 margin-auto pLR0">
						<div class="logo-inner">
							<a href="index.html">
								<img src="/assets/logo-inner.png" alt="Logo">
							</a>
						</div>
						<div class="form-block min-ht-400 pb0">
							<div class="form-header">
								<h2>Register</h2>
								<p>Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
							</div>
							<form class="main-form p10 mt20" action="register-vailidation.html">
								<div class="form-group row">
									<div class="col-md-12">
										<input type="text" class="form-control" placeholder="Email Address">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-12">
										<input type="password" class="form-control" placeholder="Password">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-12">
										<input type="password" class="form-control" placeholder="Confirm Password">
									</div>
								</div>
                <div class="form-group row mb0">
                  <div class="col-md-12">
                    <button class="btn btn-block btn-login">REGISTER</button>
                    <div class="register">
                      <p>Already Registered? <a href="login.html" class="link-register">Sign In</a></p>
                    </div>
                  </div>
                </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="assets/web/assets/jquery/jquery.min.js"></script>
	<script src="assets/popper/popper.min.js"></script>
	<script src="assets/tether/tether.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/smoothscroll/smooth-scroll.js"></script>
	<script src="assets/dropdown/js/script.min.js"></script>
	<script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
	<script src="assets/parallax/jarallax.min.js"></script>
	<script src="assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
	<script src="assets/mbr-testimonials-slider/mbr-testimonials-slider.js"></script>
	<script src="assets/masonry/masonry.pkgd.min.js"></script>
	<script src="assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
	<script src="assets/vimeoplayer/jquery.mb.vimeo_player.js"></script>
	<script src="assets/theme/js/script.js"></script>
	<script src="assets/slidervideo/script.js"></script>
	<script src="assets/gallery/player.min.js"></script>
	<script src="assets/gallery/script.js"></script>
	<script src="assets/formoid/formoid.min.js"></script>
</body>
</html>